{% extends 'base.html.twig' %}

{% block title %}Drink index{% endblock %}

{% block body %}
    <h1>Drink index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Qty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
            <tr>
                <td>{{ drink.id }}</td>
                <td>{{ drink.name }}</td>
                <td>{{ drink.qty }}</td>
                <td>
                    <a href="{{ path('app_drink_show', {'id': drink.id}) }}">show</a>
                    <a href="{{ path('app_drink_edit', {'id': drink.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_drink_new') }}">Create new</a>
{% endblock %}
